.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 70rem;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}

.imagen-entrada{
    
    img{
        height: 500px;
        width: 500px;
        
    }
}

.w-100{
    width: 100%;
}